@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.why-gradient-full-card {
  transition: scale 0.5s;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.one-tes-card {
  position: relative;
  margin: 0px;
  display: flex;
  min-height: 500px;
  height: auto;
  max-width: 37.5rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  padding: 10px;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(107 114 128);
}

.tes-controller-btn {
  transition: opacity 0.3s;
  position: relative;
  z-index: 999;
  display: flex;
  height: 2.75rem;
  width: 2.75rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
}

.tes-prev-btn {
  left: 0px;
}

.tes_edge {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.testimonial_slider {
  position: relative;
  height: 100%;
  width: 75rem;
  margin: 1.25rem auto;
  overflow-x: hidden;
  overflow-y: visible;
}

.one-content-card-even {
  display: inline-flex;
  height: 100%;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  --tw-bg-opacity: 1;
  background-color: rgb(9 18 66);
  padding-left: 72px;
  padding-right: 72px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.one-content-card-odd {
  display: inline-flex;
  height: 100%;
  width: 600px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245);
  padding-left: 72px;
  padding-right: 72px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.testimonial-slider.slick-slider {
  overflow: hidden !important;
}

.slick-slide.single-slide {
  display: grid;
  place-items: center !important;
  width: 100%;
  box-sizing: border-box;
}

.shining-btn {
  overflow: hidden;
  scale: 1;
  transition: scale 0.2s, color 0.2s;
}

.talk-btn {
  scale: 1;
  transition: scale 0.2s, color 0.2s, background-color 0.3s;
  position: absolute;
  top: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgb(255 255 255);
  --tw-border-opacity: 0.3;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(19 2 61);
}

.one-div-one-head-anima {
  //position: absolute;
  animation: circular-motion var(--speed, 12s) linear infinite;
}

.shrink-0 {
  flex-shrink: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background: #0b2259ee;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

@keyframes circular-motion {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}